html {font-family: "Segoe UI" !important; font-size: 14px !important;}
.row {margin:0 !important;}
a {text-decoration: none; outline: 0;}
/* ====================================== NAVIGATION BAR CONFIGURATION */
#head-bar
{
	background-color: rgb(75, 75, 95);
	width: 100% !important;
	font-size: 11px !important;
	height: 42px;
}
#head-bar .nav-item {padding: 0;}
#head-bar .nav-link {outline: 0; height: 100%; padding: 1rem 1rem;}
#head-bar .nav-link:hover, #head-bar .nav-link:focus {background-color: rgb(238, 238, 238); color: rgb(0, 0, 0) !important;}

#collapsible-bar.show
{
	background-color: rgb(75, 75, 95);
	z-index: 1030;
	width: 50% !important;
}
#collapsible-bar.show .navbar-nav {margin-right: auto !important;}
#collapsible-bar.show .navbar-nav .head-bar-items {border: 0; right: -50%; position: relative;}

.navbar-toggler, .navbar-toggler-icon {outline: 0;}

#head-bar .head-bar-items
{
	border-left: 1px solid rgb(150, 150, 150);
	color: white;
	max-height: 42px; max-width: 50%;
}
#head-bar .head-bar-items:first-child {width: 50%; border:0;}
#head-bar .head-bar-items:last-child {border-right: 1px solid rgb(150, 150, 150);}
#head-bar .navbar-nav {}

#head-bar .search-box {height: auto; padding: 2.5%;}

#head-bar .search-box button:hover
{
	background-color: rgba(75, 75, 95, 0.0) !important;
	color: black !important;
	cursor:pointer;
}
#head-bar .search-box button
{
	background-color: #b00 !important;
	color:white !important; width: 2.5rem;
	background: transparent; border: 0; outline: 0;
}
#head-bar .search-box input {border:0;}

/* ====================================== HEADER CONFIGURATION */
div#logo {width: 250px; height: 100px; border: 2px solid black;}
header nav.nav {height: 100%;}
header nav ul.navbar-nav {width: 100%;}
header .nav-item {width:20%; border: 0; border-right: 0;}
header .nav-link {top:25%; left:25%; position: relative;}

/* ====================================== CONTENT CONFIGURATION */
main {height: 500px;}
main::after {display: block;}
#slideshow {width: 1000px; height: 500px; margin: 1% auto; background-color: black;}
#slideshow img {width: 100%; height: 100%;}
#slideshow .carousel-item {color:white;}
/* ====================================== FOOTER CONFIGURATION */
footer
{
	display: block;
	background-color: rgb(51, 51, 51);
	padding: 20px 0;
	margin-top: 1%;
}
#footer-inner {}
#footer-column-links {padding: 1.530612244% 0 0;}
#footer-column-links h3
{
	font-size: 14px;
	font-weight: 700;
	color: rgb(204, 204, 204);
	margin: 5px 0;
}
