<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Eyeonic - HOME</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<link rel="stylesheet" href="../css/global.css">
	</head>

	<body>
		<div class="container-fluid" id="head-bar">
			<nav class="nav navbar-expand-md navbar-dark" id="basic-function">
				<button class="navbar-toggler ml-auto justify-content-end" type="button" data-toggle="collapse" data-target="#collapsible-bar">
        			<span class="navbar-toggler-icon"></span>
    			</button>
				<div class="navbar-collapse collapse" id="collapsible-bar">
					<ul class="navbar-nav ml-auto mr-5 justify-content-end">
						<li class="nav-item head-bar-items">
							<form action="" class="search-box" role="search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search">
									<button class="rounded-right" type="submit"><i class="fa fa-search"></i></button>
								</div>
							</form>
						</li>
						<li class="nav-item head-bar-items">
							<a href="#" class="nav-link text-white text-uppercase">CONTACT US</a>
						</li>
						<li class="nav-item head-bar-items">
							<a href="#" class="nav-link text-white text-uppercase">SIGN IN</a>
						</li>
						<li class="nav-item head-bar-items">
							<a href="#" class="nav-link text-white text-uppercase">CART</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>


		<header class="container" id="header">
			<div class="row">
				<div class="col-md-5">
					<div id="logo">LOGO 250x100</div>
				</div>
				<div class="col-md-7">
					<nav class="nav navbar-expand-md" role="navigation">
						<ul class="navbar-nav">
							<li class="nav-item"><a href="#" class="nav-link text-uppercase text-dark">blank</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-uppercase text-dark">blank</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-uppercase text-dark">blank</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-uppercase text-dark">blank</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-uppercase text-dark">blank</a></li>
					</nav>
				</div>
			</div>
		</header>

		<main class="container" id="content">

		</main>

		<footer id="footer" class="full-width">
			<div class="container "id="footer-inner">
				<div class="row" id="footer-column-links">
					<!--==================================================================================-->
					<div class="col-sm-3">
						<h3>Some category</h3>
						<ul class="list-unstyled">
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Some category</h3>
						<ul class="list-unstyled">
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Some category</h3>
						<ul class="list-unstyled">
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Some category</h3>
						<ul class="list-unstyled">
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
							<li><a href="#" class="text-muted" title="">blank</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script>
		    $(function(){
				$('#myCarousel').carousel({
		            // Options
				});
		    });
		</script>
	</body>
</html>
