<!-- BEGIN: LOGIN -->
<div class="wrapper">
	<form class="form-signin">
		<h3 class="form-signin-heading h3" align="center">Eyeonic project</h3>

		<input type="text" class="form-control" name="Login_Acc" value="admin" required>
		<input type="password" class="form-control" name="Login_Pass" placeholder="Password" required autofocus>

		<label class="checkbox">
	        <input type="checkbox" value="save_admin" id="save_admin" name="save_admin"> Remember me
		</label>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>
</div>
<!-- END: LOGIN -->
